body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
}

h1 {
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
}

#description {
    text-align: center;
    font-family: 'Poppins', sans-serif;;
    font-style: italic;
}

#name {

    width: 80%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
}

form {
    margin: 50px;
    background-color: #6e0a5d;
    color: white;
}

label {
    /*这个属性将<label>标签的显示方式设置为弹性布局（Flexbox）。
    这意味着<label>标签内的子元素可以灵活地进行布局，
    例如改变它们的顺序或者对齐方式。*/
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

a {
    color: white;
}